/*=======================================================
  Global font Import
=========================================================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*=======================================================
  Global Color Variables & Sytling
=========================================================*/
* {
  box-sizing: border-box;
}
:root {
  --primary: #343434;
  --secondary: #121212;
  --whiteish: #f1f1ff;
  --blackish: #0e0e0c;
  --red: #ff6b6b;
  --yellow: #ffe66d;
  --green: #99ffc9;
  --img-width: 100%;
}
/*=======================================================
  Custom Scroll Bar
=========================================================*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: var(--blackish);
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*=======================================================
  Header Navigation Section
=========================================================*/

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--blackish);
  width: 100%;
}
header h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--whiteish);
}
h2 {
  font-size: 1.5rem;
  color: var(--whiteish);
  padding: 1rem;
  opacity: 0.8;
  letter-spacing: 1.5px;
}
h3 {
  margin: 0;
  font-size: 0.9rem;
}

/*=======================================================
  Search Bar Styling Section
=========================================================*/

.search__bar {
  background-color: var(--whiteish);
  border: 2px solid var(--blackish);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  color: #f1f1f1;
  width: 25rem;
}

.search__bar::placeholder {
  color: var(--blackish);
}

.search__bar:focus {
  outline: none;
  color: var(--blackish);
  background-color: var(--whiteish);
}
/*=======================================================
  Main Body Section with the Card Styling
=========================================================*/

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 16rem;
  margin: 1rem;
  background-color: var(--secondary);
  color: #f1f1f1;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  position: relative;
  overflow: hidden;
}

img {
  height: 22.5rem;
  align-items: center;
}
